@import 'reset';

body{
    background: #fff;
}

header{
    background: #FAFAFA;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    z-index: 20;

}
header a{
        box-sizing: border-box;
        width: 25%;
        display: inline-block;
        margin-left: -3px;
        text-align: center;
        padding: 12px;
        }

.icons
{
    color: black;
    font-size:25px;
}

.icons2
{
    color: black;
    font-size:25px;
}

.icons3
{
    color: black;
    font-size:25px;
}

.icons4
{
    color: black;
    font-size:25px;
}
.container{
 background: #FAFAFA;
 padding-top: 50px;
 position: absolute;
 width: 100%;
 top: 26px;
 bottom: 0;
}

.card {
    background: #fff;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 2px;
}